
  
  .view-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
  }
  
  .view-profile{
    width: 70%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .view-profile-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .view-profile-title {
    
    text-align: left;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
td,th{
    text-align: left;
}
td:first-child{
    font-weight: bold;
}